<ol class="angular-ui-tree-nodes">
    <li class="angular-ui-tree-node">
        <div class="group-title angular-ui-tree-handle">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="groupName">
                        Group name
                    </label>
                    <input type="text" class="form-control" ng-model="vm.group_name" placeholder="Group name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="vm.addGroup()">
                    Add Group
                </button>
            </form>
        </div>
    </li>
</ol>