<!-- Header Display -->
<div class="group-title angular-ui-tree-handle" ng-show="!group.editing">
    <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="vm.removeGroup(group)">
        <i class="glyphicon glyphicon-remove"></i>
    </a>
    <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="vm.editGroup(group)">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
    <div>&nbsp;{{group.name}}</div>
</div>

<!-- Header Edit/Input -->
<div class="group-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="groupName">
                Group name
            </label>
            <input type="text" class="form-control" placeholder="Group name" ng-model="group.name" />
        </div>
        <button type="submit" class="btn btn-default" ng-click="vm.saveGroup(group)">Save</button>
        <button type="submit" class="btn btn-default" ng-click="vm.cancelEditingGroup(group)">Cancel</button>
    </form>
</div>
